<!DOCTYPE html>
<html>
  <head>
    <title>BootstrapSass</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="namespace2">
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid bg-danger ">
          <ul class="navbar-nav row">
            <li class="col-md-4">
              <%=link_to "Home",pages_home_path, class:"nav-link"%>
            </li>
          </ul>
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
      <%= yield %>
    </div>

  </body>
</html>
